.list-group-item {
  margin-top: 10px;
  border-top-width: 1px !important;
  /* border: 1px solid rgba(0,0,0,.125) !; */
}

.list-group-item:first-child {
  margin: 0px;
  border-top-width: 1px !important;
}
