.loading_modal_background {
  z-index: 999;
  background-color: lightgrey;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.loading_modal {
  z-index: -1;
  background: lightgray no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading_modal_disable {
  display: none;
}
