.user_board {
  margin-top: 20px;
  justify-content: space-evenly;
}

#user_board_left {
  border-right: 1px solid lightgrey;
}

#user_board_right {
}

#user_board_right_title {
  text-align: center;
}
