
.userhomeInfo{
    text-align: center;
}

.userhomeAvatar{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
[type='radio'] {
    display: none;
}
.BtnContainer{
    display: flex;
    margin-top: 10px;
}
.item {
    flex-grow: 4; /* default 0 */
}
.btnItem{
    margin-right: 10px;
}
.newPostBtn{
    margin-bottom: 10px;
}
